In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marsa Matruh,EG,2020-06-24 22:17:00,31.35,27.25,71.60,78,40,8.05
1,1,Khatanga,RU,2020-06-24 22:14:24,71.97,102.50,71.85,55,100,10.27
2,2,Codrington,AU,2020-06-24 22:14:20,-38.27,141.97,45.73,92,0,12.30
3,3,Banjar,ID,2020-06-24 22:17:00,-8.19,114.97,77.00,100,40,4.70
4,4,Bilibino,RU,2020-06-24 22:17:00,68.05,166.44,54.88,41,31,3.33

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Banjar,ID,2020-06-24 22:17:00,-8.19,114.97,77.00,100,40,4.70
5,5,Atuona,PF,2020-06-24 22:17:01,-9.80,-139.03,79.20,69,35,14.79
11,11,Mocajuba,BR,2020-06-24 22:17:01,-2.58,-49.51,79.30,80,86,3.11
12,12,Havelock,US,2020-06-24 22:12:30,34.88,-76.90,87.80,58,20,10.29
13,13,Dhidhdhoo,MV,2020-06-24 22:15:33,6.88,73.10,83.46,77,100,18.72
15,15,Puerto Ayora,EC,2020-06-24 22:13:48,-0.74,-90.35,80.60,61,20,5.82
17,17,Bengkulu,ID,2020-06-24 22:17:02,-3.80,102.27,77.00,69,100,2.98
24,24,Vaini,TO,2020-06-24 22:14:19,-21.20,-175.20,75.20,78,75,6.93
27,27,Georgetown,MY,2020-06-24 22:12:25,5.41,100.34,77.00,94,20,8.46
31,31,Padang,ID,2020-06-24 22:17:03,-0.95,100.35,79.20,59,98,4.50

In [10]:
preferred_cities_df.count()

City_ID       205
City          205
Country       205
Date          205
Lat           205
Lng           205
Max Temp      205
Humidity      205
Cloudiness    205
Wind Speed    205
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
3         Banjar      ID     77.00  -8.19  114.97
5         Atuona      PF     79.20  -9.80 -139.03
11      Mocajuba      BR     79.30  -2.58  -49.51
12      Havelock      US     87.80  34.88  -76.90
13     Dhidhdhoo      MV     83.46   6.88   73.10
15  Puerto Ayora      EC     80.60  -0.74  -90.35
17      Bengkulu      ID     77.00  -3.80  102.27
24         Vaini      TO     75.20 -21.20 -175.20
27    Georgetown      MY     77.00   5.41  100.34
31        Padang      ID     79.20  -0.95  100.35

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng                 Hotel Name
3         Banjar      ID     77.00  -8.19  114.97           The Hamsa Resort
5         Atuona      PF     79.20  -9.80 -139.03                Villa Enata
11      Mocajuba      BR     79.30  -2.58  -49.51            Hotel Tocantins
12      Havelock      US     87.80  34.88  -76.90             Sherwood Motel
13     Dhidhdhoo      MV     83.46   6.88   73.10              Dhidhoo beach
15  Puerto Ayora      EC     80.60  -0.74  -90.35  Finch Bay Galapagos Hotel
17      Bengkulu      ID     77.00  -3.80  102.27       Grage Hotel Bengkulu
24         Vaini      TO     75.20 -21.20 -175.20        Keleti Beach Resort
27    Georgetown      MY     77.00   5.41  100.34             Cititel Penang
31        Padang      ID     79.20  -0.95  100.35             Mercure Padang

In [14]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))